/* Font */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

* {
  font-family: 'Montserrat'
}

.page_menu{
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 10ßx;
  overflow-x: hidden;
  padding-top: 20px;
  left: 10px;
}
